body{
    background: rgb(181, 165, 170);
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.logo{
  width: 60%;
  margin: 20px auto;
  display: block;
  max-width: 400px;
}

nav{
  background: rgba(255, 255, 255, 0.3);
  /* height: 60px; */
  text-align: center;
  font font-family: Georgia, serif;
}
nav a{
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
/* styles for hero or feature */
.hero{
    background-image: url("img/hair.jpg");
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* moving text below */
    position: relative;
}
.hero h2{
    position: absolute;
    bottom: 20%;
    right: 5%;
}
button{
  position: absolute;
  bottom: 8%;
  right: 5%;
  background: none;
  padding: 5px;
  border: 2px white solid;
  font-size: 1.3em;
  border-radius: 5px;
}
/* STYLES FOR ABOUT.HTML */
.about-hero{
    background-image: url("");
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* moving text below */
    position: relative;
  }
  /* END ABOUT.HTML */

main{
  margin: 20px auto 20px auto;

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.flexitem{
    flex-basis: 300px;
    flex-grow: 1;
    margin: 2px 20px;
    background: rgba(181, 181, 181, 0.5);
    padding: 30px;
}



img{
    width: 100%;
    display: block;
    margin: 1% auto 1% auto;

}

footer{
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    text-align: center;
}

footer p{
    margin: 40px;
    color: white;
}

footer a{
  color: white;
}

/* Everything below is for larger screens */
@media screen and (min-width: 700px) {
        img{
            width:50%;
            display: inline;
        }

        body{
          background: rgb(181, 165, 170);
        }

        .logo{
          /* width: 350px; */
        }

        .flexitem{
            margin: 20px;
        }

        .flexitem:first-child{
            margin-right: 0;
        }
}
/* Everything below is for even larger screens */
@media screen and (min-width: 1400px) {
        body{
          background: rgb(181, 165, 170);
        }
  img{


  }
}
